/*.container { STICKY POSITION*/
    /*background-color: wheat;*/
    /*position: -webkit-sticky !important;*/
    /*position: sticky !important;*/
    /*top: 0;*/
/*}*/
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.my-row{
    height: 30vh;
}
.my-col{
    background-color: wheat;
}
.my-col-red{
    background-color: #b25662;
}
.my-col-blue{
    background-color: #6a9aef;
}
.my-col-dark-blue{
    background-color: #4075ef;
}
.blockquote-footer{
    float: right;
    color: #393430;
}